/* Спецификация */

body {
    font-family: 'PT Sans', sans-serif;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

h1, h2, h4, h5, h6 {
    font-weight: 700;
    color: #000;
}

h3 {
    font-weight: 400;
}

h2 {
    text-align: center;
}

.title {    
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
}

.title__main {
    font-size: 32px;
}

.title__text {
    font-size: 20px;
    width: 780px;
    margin: 0 auto;
}

.yellow {
    color: #fcdb00;
}

/* Первый экран */

.header {
    background: #fcdb00;
    color: #010101;
    padding-top: 60px;
    padding-bottom: 100px;
}

.menu {
    margin-top: 10px;
}

.menu__item {
    margin: 0 55px;
}

.menu__item a {
    font-size: 22px;
    font-weight: 700;
    color: #000;
}

.offer {
    margin-top: 115px;
}

.offer__title {
    font-size: 32px;
    margin-bottom: 15px;
}

.offer__intro {
    font-size: 20px;
    line-height: 1.4em;
}

.offer__text {
    font-size: 16px;
    margin-top: 15px;
   color: #555;
   width: 400px;
}

.icons {
    margin-top: 20px;
}

.icons__item {
    margin-right: 30px;
}

.icons__item:last-child {
    margin-right: 0px;
}

.icons__item a {
    color: #000;
    font-size: 42px;
    transition: all 0.3s ease;
}

.icons__item a:hover {
    text-decoration: none;
    color: #4b4949;
}

.ipad {
    display: block;
    margin: 60px auto 0;
}

/* Второй экран */

.feature__icon {
    font-size: 50px;
    margin-right: 35px;
    color: #000;
}

.feature__text {
    color: #898989;
}

.feature {
    margin-bottom: 50px;
}


/* Третий экран */

.touch {
    background: #010101;
    color: #fff;
}

.form {
    text-align: center;
}

.form__input {
    background: #fff;
    font-size: 16px;
    border-radius: 5px;
    width: 580px;
    padding: 10px 23px;
    margin-right: 20px;
    border: 0;
    outline: none;
}

.form__btn {
    background: #fcdb00;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    width: 126px;
    border: 0;
    padding: 10px 0;
    cursor: pointer;
}


/* Footer */

.footer {
    background: #000;

}

.credits {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 50px 0 94px;
    width: 184px;
    margin: 0 auto; 
}

/* Responsive */

@media screen and (max-width: 992px) {
    .logo {
        display: block;
        margin: 0 auto;

    }
    .offer {
        text-align: center;
    }
    .offer__text {
        margin: 0 auto;
        width: auto;
    }
    .icons {
        justify-content: center;
    }
    .form__input {
        margin-right: 0;
        width: 100%;
    }
    .form__btn {
        margin-top: 20px;
        width: 50%;
    }
    .title__text {
        width: auto;
    }

}

@media screen and (max-width: 576px) {
    .ipad {
        width: 100%;
    }
    .menu {
        flex-direction: column;
        margin-top: 50px;
    }
    .menu__item {
        text-align: center;
    }
}